@import '../fonts/montserrat.css';
@import '../fonts/georgia.css';
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --p-primary-50: #E8EFF8 !important;
    --p-primary-100: #B6CDE9 !important;
    --p-primary-200: #93B4DE !important;
    --p-primary-300: #437DC6 !important;
    --p-primary-500: #145DB8 !important;
    --p-primary-600: #1255A7 !important;
    --p-primary-700: #0E4283 !important;
    --p-primary-800: #0B3365 !important;
    --p-primary-900: #08274D !important;
    --p-primary-color: #145DB8 !important;
    --p-primary-hover-color: #145DB8 !important;
    --p-checkbox-icon-size: 17px !important;
    --p-checkbox-width: 17px !important;
    --p-checkbox-height: 17px !important;
    --p-checkbox-border-radius: 4px !important;
    --p-checkbox-focus-ring-width: 2px !important;
    --p-form-field-border-color: #145DB8 !important;
    --p-button-primary-active-background: #145DB8 !important;
  }
}